//colors


 $color-white: #fff;

 $color-black: #2B2929;
 $color-black-1: #1A1818;
 $color-black-2: #000;
 $color-black-3: #262628;


 $color-grey-dark: #383E4C;
 $color-grey-dark-1: #646d7c;
 $color-grey-dark-2: #333333;
 $color-grey-dark-3: #291f1f;
 $color-grey-dark-4: #49505F;




 $color-grey-light: #F2F2F2;
 $color-grey-light-1: #666666;
 $color-grey-light-2: #ccc;
 $color-grey-light-3: #E6E6E6;
 $color-grey-light-4: #adadad;
 $color-grey-light-5: #999;
 

 $color-green: #178A27;
 $color-green-light: #449D44;


 $color-blue: #1686C1;
 $color-blue-light: #31B0D5;
 $color-blue-light-1: #66afe9;

 $color-red: #852406;
 $color-red-light: #C9302C;


 