body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
input,
textarea {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}



.navigation-text {
    font-size: 2rem; 
    line-height: 2rem;

    @media only screen and (max-width: 991px)  {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

.heading-big {
    font-weight: 500;
    line-height: 1.1;
    font-size: 7rem;

    @media only screen  and (max-width: 360px) {
        font-size: 4rem;
    }
}

.heading-medium {
    font-weight: 500;
    line-height: 1.1;
    font-size: 3.6rem;
}

.heading-medium-1 {
    font-weight: 500;
    line-height: 1.1;
    font-size: 3.2rem;
    font-style: italic;
}

.heading-small {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
}

.heading-secondary {
    font-size: 2rem;
    font-weight: 700;
}

.paragraph-text {
    font-size: 1.4rem;
    line-height: 1.6em;
    &-italic {
        font-style: italic;
    }
}

.btn-text {
    font-size: 1.8rem;
}


.paragraph-text-big {
    font-size: 1.8rem;
    line-height: 1.6em;
    
}

.paragraph-text-small {
    font-size: 1.2rem;
    
}

.paragraph-form {
    font-size: 1.6rem;
    line-height: 1.6em;
}

